
body{
    background-color: #f5f5f5;
}

header {
    background: blue;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}


nav ul {
    display: flex; 
    justify-content: center; 
    gap: 24px; 
    list-style: none; 
    padding: 0;
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#noticia {
    background-color: white; 
    padding: 30px; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    text-align: center; 
    width: 90%; 
    max-width: 100%; 
    margin: 50px auto; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    border-top: 4px solid #007bff;
}

#noticia h2 {
    font-size: 2.5em;
    font-weight: bold;
}

#destaques {
    display: flex; 
    justify-content: center; 
    gap: 100px; 
    margin-top: 30px; 
}

#destaques article {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 30%; 
    max-width: 250px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formulario-contato {
    max-width: 500px; 
    margin: 20px auto; 
    padding: 20px; 
    border-radius: 10px; 
    background-color: white; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

footer {
    background-color: blue; 
    color: white; 
    padding: 20px; 
    display: flex; 
    justify-content: space-around;
    border-radius: 10px;
}

.footer-section {
    text-align: left; 
}

.footer-section a {
    color: white;
    text-decoration: none;
}

.link-noticia{
    text-decoration: none;
    color: blue;
    font-size: 20px;
}

#formulario-contato {
    max-width: 500px; 
    margin: 20px auto; 
    padding: 20px; 
    border-radius: 10px; 
    background-color: white; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#formulario-contato h2 {
    text-align: center; 
    margin-bottom: 15px; 
}

#formulario-contato textarea {
    width: 100%; 
    padding: 5px;
    margin-bottom: 10px;
}

#formulario-contato input {
    width: 100%; 
    padding: 5px;
    margin-bottom: 10px;
}

#formulario-contato button {
    width: 100%;
    padding: 8px;
    background-color: blue;
    color: white;
    border: none;
}

.link-noticia {
    text-decoration: none;
    color: white;
    background-color: blue;
    font-size: 20px;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 5px;
}

.divisória{
    color: blue;
    width: 80%;
    margin: 40px auto;
}

.divisória-noticia{
    color: blue;
    width: 100%;
}